* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#check_id {
    display: none;
}

header label {
    position: relative;
    cursor: pointer;
    display: block;
    width: 30px;
    height: 20px;
}

header label span {
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background: red;
    transition: 0.25s ease-in-out;
}

label span:nth-child(1) {
    top: 0px;
}

label span:nth-child(2) {
    top: 8px;
}

label span:nth-child(3) {
    top: 16px;
}

#check_id:checked ~ label span:nth-child(1) {
    transform: rotate(-45deg);
    top: 8px;
}

#check_id:checked ~ label span:nth-child(2) {
    opacity: 0;
}

#check_id:checked ~ label span:nth-child(3) {
    transform: rotate(45deg);
    top: 8px;
}